html, body{
  width: 100%;
  height: 100%;
  margin: 0;
}

body{
  background-color: orchid;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

#container{
  background-color: #fff;
  padding: 5%;
}

.button{
  background: yellow;
  color: cadetblue;
  border: 0;
  font-size: 25px;
  transition: background, color 2s ease-in;
}

.button:hover{
  background: cadetblue;
  color: yellow;
}

.button:nth-child(2){
  background: red;
}